@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: var(--font-family);
    font-weight: normal;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
